<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Registrar un desfibrilador</title>
    <link rel="stylesheet" href="../css/master.css" />
  </head>
  <body>
    <nav class="nav"><h1>Login</h1></nav>

    <% if(locals.redirected){ %>
    <h2>Primero, tienes que autenticarte</h2>
    <% } %>
    <form id="form" class="form" action="login" method="POST">
      <label>
        <input
          class="form-input"
          type="text"
          placeholder="Nombre de usuario"
          name="username"
        />
        <span class="input-feedback" data-name="username"></span>
      </label>

      <label>
        <input
          class="form-input"
          data-validate="false"
          type="password"
          placeholder="Contraseña"
          name="pw"
        />
        <span class="input-feedback" data-name="pw"></span>
      </label>

      <button class="btn main" type="submit">Login</button>
      <% if(locals.error) { %><span class="feedback-popup feedback-err"><%= error %></span><% }
      %>
    </form>

    <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
  </body>
</html>
