<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register - Registrar un desfibrilador</title>
    <link rel="stylesheet" href="../css/master.css" />
  </head>
  <body>
    <nav class="nav"><h1>Register</h1></nav>

    <form id="form" class="form" action="register" method="POST">
      <label
        ><input
          class="form-input"
          type="text"
          placeholder="Nombre de usuario"
          name="username"
          required
        /><span class="tick" data-name="username"
          ><iconify-icon class="icon" icon="charm:tick"></iconify-icon
        ></span>
        <span class="input-feedback" data-name="username"></span>
      </label>

      <label>
        <input
          class="form-input"
          type="text"
          placeholder="ID del desfibr."
          name="device"
          minlength="24"
          maxlength="24"
          required
        /><span class="tick" data-name="device"
          ><iconify-icon class="icon" icon="charm:tick"></iconify-icon
        ></span>
        <span class="input-feedback" data-name="device"></span>
      </label>

      <label>
        <input
          class="form-input"
          type="password"
          placeholder="Contraseña"
          name="pw"
          required
        /><span class="tick" data-name="pw"
          ><iconify-icon class="icon" icon="charm:tick"></iconify-icon
        ></span>
        <span class="input-feedback" data-name="pw"></span>
      </label>

      <label>
        <input
          class="form-input"
          type="password"
          placeholder="Contraseña"
          name="repeatPw"
          data-checkpw="pw"
          required
        /><span class="tick" data-name="repeatPw"
          ><iconify-icon class="icon" icon="charm:tick"></iconify-icon
        ></span>
        <span
          class="input-feedback"
          data-validate="false"
          data-name="repeatPw"
        ></span>
      </label>

      <button class="btn main" type="submit">Register</button>
      <% if(locals.error) { %><span class="feedback-popup feedback-err"><%= error %></span><% }
      %>
    </form>

    <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
    <script src="../js/regex.js"></script>
    <script src="../js/validate-forms.js"></script>
  </body>
</html>
