<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Voluntarios</title>
  </head>
  <body>
    <datalist id="cities">
      <option value="Ciutadella de Menorca">Ciutadella de Menorca</option>
      <option value="Ferreries">Ferreries</option>
      <option value="Es Mercadal">Es Mercadal</option>
    </datalist> 
    <input type="text" id="city-input" list="cities">
    <button id="search-btn" class="btn main">Buscar</button>
    <ul class="incidents-list" id="incidents-list"></ul>

    <script src="/socket.io/socket.io.js"></script>
    <script src="../html-js/volunteers.js"></script>
  </body>
</html>
