.main-list {
  width: 100%;
  display: block;
  position: relative;
  margin: auto;
  height: 75%;
  background-color: rgb(200, 200, 200);
  border-radius: 10px;
  list-style-type: none;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.main-list .main-list__el {
  padding: 0;
  position: relative;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
}

.main-list .main-list__el:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.2);
}

.main-list li {
  cursor: pointer;
}

.el a {
  display: block;
  position: relative;
  padding: 1rem;
  text-decoration: inherit;
}

.el__title,
.el__subtitle {
  margin: 0;
}

.el__subtitle {
  font-size: 0.8rem;
  opacity: 0.6;
}

.el__append {
  display: block;
  position: absolute;
  right: 3rem;
  top: 50%;
  font-size: 1.3rem;
  transform: translateY(-50%);
}

.el__append .icon {
  position: absolute;
  font-size: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.el__data {
  width: 80%;
}

.incidents a,
.incidents h4,
.incidents h5,
.incidents span {
  pointer-events: none;
}


@media screen and (max-width: 500px) {
  .el a {
    padding: .8rem;
  }

  .el__append {
    right: 2rem;
    font-size: 1.1rem;
  }

  .el__append .icon {
    font-size: 1.3rem;
  }

  .el__data {
    width: 75%;
  }

  .el__title {
    font-size: 1rem;
  }
}